<div class="footer-container">
  <div class="col-1">
    <div
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
      "
    >
      <img
        src="{{.Site.Params.pathUrl}}/img/logo.svg"
        class="mc-logo"
        alt="mitra-cargo-logo"
      />
    </div>
    <p style="font-size: 12px">
      Lorem ipsum dolor sit amet consectetur. Fermentum tortor tempus eu
      bibendum arcu lectus amet pellentesque mauris. Sagittis ac lorem imperdiet
      tristique. Faucibus a odio vel quis.
    </p>
    <p
      style="
        padding: 16px 0px;
        font-size: 14px;
        color: #fff;
        margin-bottom: 0px !important;
      "
    >
      Mitra Cargo © 2023 All Rights Reserved
    </p>
  </div>
  <div class="col-2">
 
  </div>
  <div class="col-3">

  </div>
</div>
