<div class="mc-header-container">
  <div class="main-container">
    <div style="
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
      ">
      <img src="{{.Site.Params.pathUrl}}/img/logo.svg" class="mc-logo" alt="mitra-cargo-logo"
        onclick="goTo('#')" />
    </div>
    <div class="mc-header-right in-desktop">
      <button class="mc-button mc-item in-desktop" onclick="registerAsMitra()">
        Bergabung sebagai Mitra
      </button>
    </div>
    <img src="{{.Site.Params.pathUrl}}/img/hamburgerMenu.svg" alt="menu-mobile" class="in-mobile menu"
      onclick="toggleMenu()" />
  </div>

  <div class="category-section" id="categorysection">
    <div class="main-container">
      <a href="/blog">Semua</a>
      {{ with .Site.GetPage "/partials/8grams-header/_index.md" }} {{ range
      .Params.headerCategory }}
      <a href="/blog/category/{{ . | urlize }}">{{ . }}</a>
      {{ end }} {{ end }}
    </div>
  </div>

  <div class="menu-drawer" id="menudrawer">
    <div class="menu-container" id="menucontainer">
      <a href="/" class="menu-item">Beranda</a>
      <button class="mc-button" style="padding: 34px 0px 16px" onclick="registerAsMitra()" type="button">
        Bergabung sebagai Mitra
      </button>
    </div>
  </div>

  <script>
    let isMenuOpen = false;
    let isModalOpen = false;

    let md = document.getElementById("menudrawer");
    let mc = document.getElementById("menucontainer");
    let sm = document.getElementById("secondmenu");
    let it = document.getElementById("items");

    function toggleMenu() {
      isMenuOpen = !isMenuOpen;
      md.style.height = isMenuOpen ? `${mc.offsetHeight}px` : "0px";
    }

    function expandMenu() {
      sm.style.height =
        sm.style.height === `${it.offsetHeight}px`
          ? "0px"
          : `${it.offsetHeight}px`;
      md.style.height =
        md.style.height === `${mc.offsetHeight}px`
          ? "0px"
          : `${mc.offsetHeight}px`;
    }

    function registerAsMitra() {
      goTo("https://mitracargo.com/register")
    }

    function goTo(string) {
      window.location.href = string;
    }

    window.addEventListener("resize", () => {
      if (window.innerWidth > 768 && isMenuOpen) {
        toggleMenu();
      }
    });
  </script>
</div>