<style>
  .item-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
  }

  .item-card .image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top: 4px solid #168241;
  }

  .item-card .item-detail {
    border-left: 1px solid #d0cece;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .item-detail .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .item-detail .details .author-image {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 4px;
  }

  .details .category {
    color: #F2994A;
    font-size: 12px;
    font-weight: 500;
    margin-right: 8px;
  }

  .item-detail .intro {
    font-size: 14px;
    color: #828282;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 24px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .item-detail .title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 12px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  
  .item-detail .btn-read {
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #3F3F3F;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  a.item-card:hover .item-detail .title {
    color: var(--primary);
  }

  @media (max-width: 1200px) {
    .item-card .image {
      height: 180px;
    }
  }

  @media (max-width: 760px) {
    .item-card {
      width: 100%;
    }
  }
</style>

<div style="margin: 10px; width: 100%">
  <a href="{{ .RelPermalink }}" class="item-card" style="width: 100%">
    {{if .Params.image}} {{if in .Params.image "http"}}
    <div class="image">
      <img
        loading="lazy"
        src="{{.Params.image}}"
        class="image"
        alt="{{.Params.title}}"
        title="{{.Params.title}}"
      />
    </div>
    {{else}}
    <div class="image">
      <img
        loading="lazy"
        src="{{.Site.Params.pathUrl}}/{{.Params.image}}"
        class="image"
        alt="{{.Params.title}}"
        title="{{.Params.title}}"
      />
    </div>
    {{end}} {{else if .Params.featuredImage.src}} {{if in
    .Params.featuredImage.src "http"}}
    <div class="image">
      <img
        loading="lazy"
        src="{{.Params.featuredImage.src}}"
        class="image"
        alt="{{.Params.featuredImage.alt}}"
        title="{{.Params.featuredImage.title}}"
      />
    </div>
    {{else}}
    <div class="image">
      <img
        loading="lazy"
        src="{{.Site.Params.pathUrl}}/{{.Params.featuredImage.src}}"
        class="image"
        alt="{{.Params.featuredImage.alt}}"
        title="{{.Params.featuredImage.title}}"
      />
    </div>
    {{end}} {{end}}

    <div class="item-detail">
      <div class="details">
        <div class="category">{{ range .Params.tag }}{{ . }}{{ end }}</div>
        <p
          style="
            color: #828282;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 0px;
            margin-right: 8px;
          "
        >
          {{ .Params.author }}
        </p>
        <p
          style="
            color: #828282;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 0px;
          "
        >
          {{ .ReadingTime }} Min Read
        </p>
      </div>
      <div class="title">{{.Params.title}}</div>
      <div class="intro">{{.Params.intro}}</div>
      <div class="btn-read">
        <div  style="
        color: #212529;
      width: 25px;
      height: 25px;
      margin-right: 4px;
      background: #168241;
      align-items: center;
      align-self: center;
      ">
          <img
            src="{{.Site.Params.pathUrl}}/img/chevron-right.svg"
            alt="read-more"
         
          />
        </div>
        
        Lebih lengkap</div>
    </div>
  </a>
</div>
