.footer-container {
  background-color: #168241;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 66px;
  
}

.col-1 {
align-items: flex-start;
padding: 10px 66px;
}

@media (max-width: 1200px) {
  .footer-container {
    padding-left: 66px;
    padding-right: 66px;
  }
}

@media (max-width: 760px) {
  .footer-container {
    padding-top: 46px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
